@{
    ViewBag.Title = "忘记密码";
}
<link rel="stylesheet" href="~/Content/login.css"  />
		
  <div class="container">
      <div id="middle" class="row">
      <div class="col-sm-6 text-right">
      <img class="radius" src="~/Image/123.jpg" width="500px"/> 
      </div>
      
      
        <div class="col-sm-6 text-center">
        <h3 class="letter-space" align="center">修改密码</h3>
       <input type="text" name="username"  placeholder="用户名"/>
       <input type="password" name="pwd"   placeholder="新密码"/>
       <input type="password" name="pwd2"   placeholder="确认新密码"/>
       <div>
       <button class="ok">修 改</button>
       </div>

     
       
        </div>
    </div>

  </div> 
   
    <footer class="text-center">
      遇见更好的自己---DayOne
    </footer>
  
