@{
    ViewBag.Title = "分享";
}

<link rel="stylesheet" href="~/Content/share.css" />
<script src="~/Scripts/share.js"></script>

<div class="div1">

    <!--第一行 框1、2-->
    <div id="div2">
        <!--框1-->
        <div class="col-md-6" id="co1">
            <!--标题-->
            <div class="title">
                <span class="glyphicon glyphicon-leaf" style="color: #722B72"></span>
                <b id="tit1">123</b>
            </div>
            <!--内容-->
            <div class="context">
                <textarea id="textarea1" rows="8" cols="68">123</textarea>
            </div>
            <!--时间、点赞-->
            <div class="time">
                <!--时间-->
                <div class="col-md-6">
                    <label id="time1">time</label>
                </div>
                <!--点赞数-->
                <div class="col-md-6" id="T1">
                    <span class="glyphicon glyphicon-heart" id="heart1" onclick="SubHeart1()"></span>
                    <span class="glyphicon glyphicon-heart-empty" id="emheart1" onclick="AddHeart1()"></span>
                    <label class="lab" id="lab1">0</label>
                </div>
            </div>
        </div>

        <!--框2-->
        <div class="col-md-6" id="co2">
            <!--标题-->
            <div class="title">
                <span class="glyphicon glyphicon-leaf" style="color: #722B72"></span>
                <b id="tit2">123</b>
            </div>
            <!--内容-->
            <div class="context">
                <textarea id="textarea2" rows="8" cols="68">sjy</textarea>
            </div>
            <!--时间、点赞-->
            <div class="time">
                <!--时间-->
                <div class="col-md-6">
                    <label id="time2">time</label>
                </div>
                <!--点赞数-->
                <div class="col-md-6" id="T2">
                    <span class="glyphicon glyphicon-heart" id="heart2" onclick="SubHeart2()"></span>
                    <span class="glyphicon glyphicon-heart-empty" id="emheart2" onclick="AddHeart2()"></span>
                    <label class="lab" id="lab2">1</label>
                </div>
            </div>
        </div>

    </div>

    <!--第二行 框3、4-->
    <div id="div3">

        <!--框3-->
        <div class="col-md-6" id="co3">
            <!--标题-->
            <div class="title">
                <span class="glyphicon glyphicon-leaf" style="color: #722B72"></span>
                <b id="tit3">123</b>
            </div>
            <!--内容-->
            <div class="context">
                <textarea id="textarea3" rows="8" cols="68">sjy</textarea>
            </div>
            <!--时间、点赞-->
            <div class="time">
                <!--时间-->
                <div class="col-md-6">
                    <label id="time3">time</label>
                </div>
                <!--点赞数-->
                <div class="col-md-6" id="T3">
                    <span class="glyphicon glyphicon-heart" id="heart3" onclick="SubHeart3()"></span>
                    <span class="glyphicon glyphicon-heart-empty" id="emheart3" onclick="AddHeart3()"></span>
                    <label class="lab" id="lab3">2</label>
                </div>
            </div>
        </div>

        <!--框4-->
        <div class="col-md-6" id="co4">
            <!--标题-->
            <div class="title">
                <span class="glyphicon glyphicon-leaf" style="color: #722B72"></span>
                <b id="tit4">123</b>
            </div>
            <!--内容-->
            <div class="context">
                <textarea id="textarea4" rows="8" cols="68">sjy</textarea>
            </div>
            <!--时间、点赞-->
            <div class="time">
                <!--时间-->
                <div class="col-md-6">
                    <label id="time4">time</label>
                </div>
                <!--点赞数-->
                <div class="col-md-6" id="T4">
                    <span class="glyphicon glyphicon-heart" id="heart4" onclick="SubHeart4()"></span>
                    <span class="glyphicon glyphicon-heart-empty" id="emheart4" onclick="AddHeart4()"></span>
                    <label class="lab" id="lab4">3</label>
                </div>
            </div>
        </div>

    </div>


</div>

