@{
    ViewBag.Title = "日计划";
}
<link rel="stylesheet" href="~/Content/dayplan.css"  />
<link rel="stylesheet" href="~/Content/bootstrap.css.map" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/notebook.js"></script>

    <div>
        <div >
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">日计划</a></li>
                <li role="presentation" ><a href="#">周计划</a></li>
                <li role="presentation"><a href="#">月计划</a></li>
                <li role="presentation"><a href="#">年计划</a></li>
            </ul>
        </div>
        <div class="Daylist">
            <input class="daylist" type="text" name="daylist1" placeholder="遇见更好的明天 写下今天的计划 " />
        </div>
        <div class="Daylist">
            <input class="daylist" type="text" name="daylist1" placeholder="遇见更好的明天 写下今天的计划 " />
        </div>
        <div class="Daylist">
            <input class="daylist" type="text" name="daylist1" placeholder="遇见更好的明天 写下今天的计划 " />
        </div>
        <div class="Daylist">
            <input class="daylist" type="text" name="daylist1" placeholder="遇见更好的明天 写下今天的计划 " />
        </div>



    </div>
