@{
    ViewBag.Title = "日计划";
}
    <link rel="stylesheet" href="~/Content/dayplan.css"  />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/notebook.js"></script>

    <div>

    </div>
