@{ViewBag.Title = "笔记本";}
<link rel="stylesheet" href="~/Content/notebook.css"  />


<div id="left">
    <ul class="nav nav-pills nav-stacked">添加笔记本</ul>
    <ul class="nav nav-pills nav-stacked">搜索笔记本</ul>
    <ul class="nav nav-pills nav-stacked">笔记本</ul>
    <ul class="nav nav-pills nav-stacked">修改笔记本</ul>


</div>







        <div id="right">
            <div ng-show="nav==1">
                <div class="note">
                    <div class="note-left"></div>
                    <div class="note-body">
                        <h4>生活</h4>
                    </div>
                </div>
                <div class="note">
                    <div class="note-left"></div>
                    <div class="note-body">
                        <h4>学习</h4>
                    </div>
                </div>
                <div class="note">
                    <div class="note-left"></div>
                    <div class="note-body">
                        <h4>工作</h4>
                    </div>
                </div>
                <div class="note">
                    <div class="note-left"></div>
                    <div class="note-body">
                        <h4>爱情</h4>
                    </div>
                </div>
            </div>


