@{
    ViewBag.Title = "用户信息";
}
<link rel="stylesheet" href="~/Content/userInfo.css" />
<script src="~/Scripts/userInfo.js"></script>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="user-info">
            <div class="user-info-sign">
                <div></div>
            </div>
            <h3 class="user-info-title">Day&nbsp;&nbsp;One</h3>

            <div class="user-info-item">
                <div class="item-title">USERNAME</div>
                <div>@Context.User.Identity.Name</div>
            </div>

            <div class="user-info-item">
                <div class="item-title">PASSWORD</div>
                <div>************<a href="javascript:void(0);" class="pull-right password-edit">EDIT</a></div>
            </div>

            <div class="other-item">
                <div class="user-info-item">
                    <div class="item-title">LIKES<span class="pull-right">RANK</span></div>
                    <div>@ViewBag.Likes<span class="pull-right">2</span></div>
                </div>

                <div class="user-info-item">
                    <div class="item-title">BADGES</div>
                    <div>
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;
                    </div>
                </div>
            </div>

            <div class="password-item">
                <div class="user-info-item">
                    <div class="item-title">NEW PASSWORD</div>
                    <div>
                        <input type="password" id="passwd0" class="form-control" placeholder="输入新密码" />
                    </div>
                </div>

                <div class="user-info-item">
                    <div class="item-title">CONFIRM NEW PASSWORD</div>
                    <div>
                        <input type="password" id="passwd1" class="form-control" placeholder="确认新密码" />
                    </div>
                </div>
            </div>

            <div class="user-info-button">
                <button class="btn btn-block" id="post-edit-btn" click="update_password();">CONFIRM EDIT</button>
            </div>
        </div>
    </div>
</div>


@*<div class="div1">
    <div class="div2">
        <!--logo-->
        <img src="~/Image/logo.png" id="img" />
        <div id="square"></div>
        <div class="div3">

            <div id="div4">
                <b id="title">Day One</b>

            </div>
            <!--输入框-->
            <!--用户名-->
            <div class="col-md-12" id="col1">
                <span class="glyphicon glyphicon-user" style="margin-left: -2%;"></span>
                <div class="input" id="input1">UserName</div>
            </div>

            <!--密码-->
            <div class="col-md-12" id="col2">
                <span class="glyphicon glyphicon-edit" style="margin-left: -2%;" onclick="edit()"></span>
                <div class="input" type="password" id="input2">PassWord</div>
            </div>

            <!--Likes-->
            <div class="col-md-12" id="col3">
                <button class="btn-default" id="btn1">
                    <span class="glyphicon glyphicon-heart" id="heart" style="color: #722B72;font-size: small;"></span>
                    Likes
                </button>
                <div id="sm-input1">100</div>
            </div>

            <!--new password-->
            <div class="col-md-12" id="col-add1">
                <span class="glyphicon glyphicon-pencil" id="pen1" style="color: #722B72;font-size: medium;"></span>
                <input class="input" type="password" id="newpwd" placeholder="New PassWord">
            </div>

            <!--Rank-->
            <div class="col-md-12" id="col4">
                <button class="btn-default" id="btn2">
                    <span class="glyphicon glyphicon-stats" style="color: #722B72;font-size: small;"></span>
                    Rank
                </button>
                <div id="sm-input2">16</div>
            </div>

            <!--new password 2-->
            <div class="col-md-12" id="col-add2">
                <span class="glyphicon glyphicon-pencil" id="pen2" style="color: #722B72;font-size: medium;"></span>
                <input class="input" type="password" id="newpwd2" placeholder="Input Again">
            </div>

            <!--Badge-->
            <div class="col-md-12" id="col5">
                <button class="btn-default" id="btn3" style="font-size: medium;">
                    <span class="glyphicon glyphicon-certificate" style="color: #722B72;font-size: small;"></span>
                    Badge
                </button>
                <span class=" glyphicon glyphicon-asterisk"  aria-hidden="true"></span>
            </div>

            <!--按钮-->
            <div class="col-md-12" id="col6">
                <button class="btn btn-default" id="btn4" onclick="confirm()">CONFIRM EDIT</button>
            </div>

        </div>
    </div>
</div>*@