head {
    display: none;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 1.428571429;
    color: #3F3F3F;
    background-color: white;
}
a:hover,
a:focus{
    text-decoration: none;
}
h3{
	align-content: center;
}
h6{
	color: white;
}
div {
    display: block;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
.jumbotron{
	/* background-color: black; */
	opacity: 0.8;
    margin-bottom:0;
}
.main-content {
    padding: 30px 0;
    background: #f5f5f5;
}
.head{
    line-height:50px;
    color:#fff;
}
.selection {
    background: #722b72;
    background: rgba(114,43,114,0.3);
    color: white;
}
.head{
    line-height:50px;
    color:#fff;
}
.navbar{
	/* background-color:#722b72 ; */
	margin-bottom: 0px;
    margin-right:0px;
    margin-left:0px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-nav>li>a{
    color:#fff;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus{
    background-color: #8c628c;
}
.navbar-nav>li.active>a,
.navbar-nav>li.active>a:hover{
    background-color: #986898;
}
.con1{
	background: #722b72;
}
.navbar-inverse {
    background-color: #520053;
    border-color: #200020;
}
.head{
	background-color:#722b72;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
    border-radius: 0;
}

.selection {
    background: #722b72;
    background: rgba(114,43,114,0.3);
    color: white;
}

#1{
	float: right;
}
#2{
	float: left;
}

#upperbanner
{
background-color:#808080 ;	
margin-top: 0;
padding:10px 0;
height: 50px;
}
.navbar-header
{
	float: right;
}

.main-content h4{
    color:#986898;
}
footer{
    margin-top:20px;
}
#userlogo:hover {
    color:white;
}
#userlogo {
    cursor:pointer;
    font-size:20px;
    color:white;
}
.glyphicon glyphicon-user {
    color:white;
} 

