#navi{
            background-color:#722b72;
            margin-bottom:0;
            width:100%;
        } 
		#ul1{
            font-size:14px;
			font-family:Microsoft YaHei;
            font-weight:bold;
		}        
        #ul2{
            color:#1E90FF;
            font-weight:bold;
        }
        #a-txt1{
            color:white;
        }
        .loveNotePanel {
            background-color:#515151;
            min-height: 500px;
            /*height:100%;
            width:100%;*/
            /*position:fixed;*/
            margin-top:0;
            padding-top: 10px;
            overflow-y:auto;
        }
        .loveNotePanel .panel.panel-note {
            background-color:#EDEDED;
        }

        .loveNotePanel .panel.panel-note  .title {
            color:#722b72;
            font-size:xx-large;
        }

        .loveNotePanel .panel.panel-note .onenote {
            /*padding-bottom: 30px;*/
            border-bottom: 1px black solid;
            margin-bottom: 30px;
        }

        .loveNotePanel .panel.panel-note .toolbar {
            color: grey;
        }

        .loveNotePanel .panel.panel-note .toolbar a{
            color: grey;
        }

        .DIV3{
            height :50%;
            width:50%;
            margin-left:100px;
            margin-top:50px;
            background-color:#EDEDED;
        }
        .DIV4{
            width:50%;
            height:15%;
            border-bottom:solid;
            border-width:thin;
            margin-left:5%;
        }
        .context{
            width:100%;
            height:90%;
            padding-left:10%;
            padding-top:2%;          
        } 
        h4{
            font-weight:bold;
        }       
        h5{
            font-weight:bold;
            font-family:'Microsoft JhengHei';
        }
        .Time{
            color:#722b72;
            font-weight:bold;
            font-size:larger;
            margin-left:5%;
            margin-bottom:5%;
            font-family:'Courier New', Courier, 'Nimbus Mono L', monospace;
        }