  #navi{
            background-color:#722b72;
            margin-bottom:0;
            width:100%;
        } 
		#ul1{
			font-size:14px;
			font-family:Microsoft YaHei;
			font-weight:bold;
		}        
		#d1{
			height:45px;
			border-bottom-style:solid;
			border-bottom-width:thin;
			border-bottom-color:#722b72;
			width:100%;
			/*position:fixed;*/
			margin-left:0px;
            margin-right:10px;
			font-weight:bold;
			font-family:'Microsoft YaHei';		
		}
		#d2{
			margin-top:60px;
			height:100px;
            width:100%;
            margin-left:0px;
            color:white;
		}
        #Div1{
            height:100%;
            width:100%;
            position:fixed;
            background-color:#FFFFCC;
        }
        #Div2{
            height:100%;
            background-color:#f5f5f5;
            
        }
#Div3 {
    height :100%;
    background-color:#996666;

}
        .b1txt {
            font-weight:bold;
            margin-top:2px;
            font-size:x-large;
        }
        .b2txt {
            font-weight:600;
            font-size:medium;
        }
        .Lab {
            font-size:medium;
        }
        .a-txt{
            margin-right:50px;
            color:#722b72;

        }
            .a-txt:hover {
               color:black;
               opacity:0.8;
            }
		.context{
			width:88%;
			height :90%;
			padding-left:10px;
			color:#7A7A7A;
		}
		.Cont{
			height:20%;
			width:100%;
			margin-left:-15px
		}
		.modal-title {
			font-size:x-large;
			font-weight:bold;
			text-align:center;
			color:#722b72;
		}
		.modal-body {
			font-size:large;
			text-align:center;
			color:#722b72;          
		}
        #TextBox1{
            width:100%;background-color:transparent;
            border-style:none;
            font-size:x-large;
            font-family:'Microsoft YaHei';
            padding-left:20px;
        }
        #TextBox2{
            width:100%;
            height:600px;
            overflow:visible;
            background-color:transparent;
            border-style:none;
            font-size:medium;
            padding-left:20px;
        }
        #TextBox4{
            width:40%;
            background-color:transparent;
            border-style:none;
            font-size:medium;
        }
.col-md-2 {
background-color:#ff006e;
opacity:0.6;
}

.col-md-10 {
background-color:white;
opacity:0.85;
z-index:-100;
margin-left:0px;
margin-right:0px;
height:100%;
margin-top:0px;
border:0px;
}
.btn btn-default{
    color: #333;
    background-color: #fff;  
    width: 100%;
    height:20px;
    }

