@font-face {
	font-family:'zapfino';
	src: url('../fonts/LinotypeZapfino Four.ttf');
	}
#title{
	font-family:'zapfino';
	font-size: xx-large;
	}
.div1{
	background-color: lightgrey;
	width: 100%;
	height: 100%;
	position: fixed;
	margin-top: 0;
}
#div2{
	width: 100%;
	height: 50%;
}
#div3{
	width: 100%;
	height: 50%;
}

#co1{
	margin-top: 2%;
	margin-left: 9%;
	width: 39%;
	height: 73%;
	background-color: white;
}

#co2{
	margin-top: 2%;
	margin-left: 4%;
	width: 39%;
	height: 73%;
	background-color: white;
}
#co3{
	margin-top: -2%;
	margin-left: 9%;
	width: 39%;
	height: 72%;
	background-color: white;
}
#co4{
	margin-top: -2%;
	margin-left: 4%;
	width: 39%;
	height: 72%;
	background-color: white;
}

#textarea1{	
	font-family: "微软雅黑";
	background-color: transparent;
	border: none;
}
#textarea2{
	font-family: "微软雅黑";
	background-color: transparent;
	border: none;
}
#textarea3{	
	font-family: "微软雅黑";
	background-color: transparent;
	border: none;
}
#textarea4{
	font-family: "微软雅黑";
	background-color: transparent;
	border: none;
}
#T1{
	text-align: right;
}
#T2{
	text-align: right;
}
#T3{
	text-align: right;
}
#T4{
	text-align: right;
}
#heart1{
	font-size: medium;
	color: #722B72;
	margin-right:-8.5%;
	visibility: hidden;
}
#heart2{
	font-size: medium;
	color: #722B72;
	margin-right:-8.5%;
	visibility: hidden;
}
#heart3{
	font-size: medium;
	color: #722B72;
	margin-right:-8.5%;
	visibility: hidden;
}
#heart4{
	font-size: medium;
	color: #722B72;
	margin-right:-8.5%;
	visibility: hidden;
}
#emheart1{
	margin-right: 5px;
	font-size: medium;
}
#emheart2{
	margin-right: 5px;
	font-size: medium;
}
#emheart3{
	margin-right: 5px;
	font-size: medium;
}
#emheart4{
	margin-right: 5px;
	font-size: medium;
}
.lab{
	font-size: medium;
}
.glyphicon glyphicon-heart-empty{
	font-size: medium;
	color: #722B72;
}

.glyphicon-eye-open {
	color: #ccc;
}

.glyphicon-eye-open.enable {
	color: #722B72 !important;
}

.container.share {
	position: fixed;
	top: 60px;
	bottom: 0px;
	width: 100%;
}

.row.share{
	margin-top: 30px;
	/*display: table;*/
	/*width: 100%;
	height: 50%;*/
}

/*.row.share [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
*/
.row.share-content{
	/*background-color: white;
	margin: 30px;
	height: 98%;*/
}

.share-content{
	background-color: white;
}

.share-content .title{
	font-size: x-large;
	font-weight: bold;
	padding-left: 15px;
	margin-left: 15px;
    margin-right: 15px;
	/*width: 30%;*/
	text-align: left;
	border-bottom: thin #fafafa groove;
	color: #722B72;

}

.share-content .author{
	font-size:small;
	font-weight: normal;
	/*vertical-align: bottom;*/
	margin-top: 10px;
	font-style: italic;
}

.share-content .toolbar{
	font-size:small;
	font-weight: normal;
	/*vertical-align: bottom;*/
	margin-top: 10px;
	font-style: italic;
}

.share-content .content-body{
	/*width: 100%;
	height: 72%;
	margin-top: 1%;*/
}

html,body{
	height: 100%;
}