@{
    ViewBag.Title = "日计划";
}
@section headers{
    <link rel="stylesheet"  href="~/Content/dayplan.css" />
    <script src="/Scripts/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = angular.module('ngApp', []);
    </script>
    <script src="~/Scripts/dayplan.js"></script>
}



<div class="plans row" ng-controller="DayPlanController">
    <div class="col-sm-3 planList" ng-controller="OnePlanController">
        <div class="panel panel-default">
            <div class="title">日计划 * {{plans.length}}</div>
            <div class="plan checkbox" ng-repeat="plan in plans">
                <label class="checkbox-inline">
                  <input type="checkbox">{{plan}}
                </label>
                <span class="glyphicon glyphicon-star-empty pull-right marker"></span>
            </div>
            <ng-include src="'/dayplan/addplanhtml'" />   
        </div>
    </div>
    <div class="col-sm-3 planList" ng-controller="OnePlanController">
        <div class="panel panel-default">
            <div class="title">日计划</div>
            <div class="plan" ng-repeat="plan in plans">
                {{plan}}
            </div>
        </div>
    </div>
    <div class="col-sm-3 planList" ng-controller="OnePlanController">
        <div class="panel panel-default">
            <div class="title">日计划</div>
            <div class="plan" ng-repeat="plan in plans">
                {{plan}}
            </div>
        </div>
    </div>
    <div class="col-sm-3 planList" ng-controller="OnePlanController">
        <div class="panel panel-default">
            <div class="title">日计划</div>
            <div class="plan" ng-repeat="plan in plans">
                {{plan}}
            </div>
        </div>
    </div>
</div>

@*<div class="left-side">
    <div id="left-top"></div>
    <button class="plan-btn" onclick="">日计划</button>
    <button class="plan-btn" onclick="week()">周计划</button>
    <button class="plan-btn" onclick="month()">月计划</button>
    <button class="plan-btn" onclick="year()">年计划</button>
</div>

<div class="right-side" id="rs">
    <button class="btn btn-default" id="addbtn" type="button" onclick="Addplan()">添加计划</button>
    <button class="btn btn-default" id="delbtn" type="button" onclick="Removeplan()">删除计划</button>
    <div class="plan" id="plan">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <input type="text" class="plan-text" id="input1" placeholder="记录1天的计划 美好生活的开始" />
        <label class="timeAt" id="lab1"></label>
    </div>

    <div class="plan">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <input type="text" class="plan-text" placeholder="记录1天的计划 美好生活的开始" />
        <label class="timeAt" id="lab2"></label>
    </div>

    <div class="plan">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <input type="text" class="plan-text" placeholder="记录1天的计划 美好生活的开始" />
        <label class="timeAt" id="lab3"></label>
    </div>


</div>*@

