@{
    ViewBag.Title = "年计划";
}

<link rel="stylesheet" href="~/Content/dayplan.css" />
<script src="~/Scripts/yearplan.js"></script>

<div class="left-side">
    <div id="left-top"></div>
    <button class="plan-btn" onclick="day()">日计划</button>
    <button class="plan-btn" onclick="week()">周计划</button>
    <button class="plan-btn" onclick="month()">月计划</button>
    <button class="plan-btn">年计划</button>
</div>

<div class="right-side" id="rs">
    <button class="btn btn-default" id="addbtn" type="button" onclick="Addplan()">添加计划</button>
    <button class="btn btn-default" id="delbtn" type="button" onclick="Removeplan()">删除计划</button>
    <div class="plan" id="plan">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <input type="text" class="plan-text" id="input1" placeholder="记录1年的计划 美好生活的开始" />
        <label class="timeAt" id="lab1"></label>
    </div>

    <div class="plan">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <input type="text" class="plan-text" placeholder="记录1年的计划 美好生活的开始" />
        <label class="timeAt" id="lab2"></label>
    </div>

    <div class="plan">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <input type="text" class="plan-text" placeholder="记录1年的计划 美好生活的开始" />
        <label class="timeAt" id="lab3"></label>
    </div>


</div>
