@model IoObjects.UserRegister
@{ViewBag.Title = "注册";}

<link rel="stylesheet" href="~/Content/login.css"  />
		
  
  <div class="container">
        <div id="middle" class="row">
      <div class="col-sm-6 text-right">
      <img class="radius" src="~/Image/123.jpg" width="500px"/> 
      </div>
      

  @using (Html.BeginForm("Register", "Register", FormMethod.Post))
        {
            <div class="col-sm-6 text-center">
                <h3 class="letter-space" align="center">DayOne注册</h3>
                @Html.ValidationSummary()
                @Html.TextBoxFor(o => o.UserName, new { name = "username", placeholder = "用户名" })
                @Html.PasswordFor(o => o.PassWord, new { name = "pwd", placeholder = "密码" })
                @Html.PasswordFor(o => o.PassWord2, new { name = "pwd", placeholder = "再次密码" })
                    <button class="ok" type="submit">注 册</button>
            </div>
  }
       <div class="clearfix">已有账号,&nbsp;<a href="~/Views/Home/login.cshtml">立即登录</a>
   
        </div>
        </div>
    </div>
   
    <footer class="text-center">
      遇见更好的自己---DayOne
    </footer>
    
   