@model DayOne.IoObjects.UserRegister
@{ViewBag.Title = "注册";}

<link rel="stylesheet" href="~/Content/login.css" />
<script>
    function register() {
        var UserName, Pwd, Pwd2, text;
        UserName = document.getElementById("username").value;
        Pwd = document.getElementById("pwd").value;
        Pwd2 = document.getElementById("pwd2").value;
        if (UserName == null || UserName == "") {
            text = "请输入用户名";
        } if (UserName !== string && Int8Array) {
            text = "用户名必须是字母和数字的组合";
        } if (Pwd2 != Pwd) {
            text = "两次密码输入不正确";
        } else {
            text = "注册成功"
        }

        document.getElementById("notice").innerHTML = text;
    }
</script>>

<div class="container">
    <div id="middle" class="row">
        <div class="col-sm-6 text-right">
            <img class="radius" src="~/Image/123.jpg" width="500px" />
        </div>
        <div class="col-sm-6 text-center">
            @using (Html.BeginForm("Index", "Register", FormMethod.Post))
            {
                <h3 class="letter-space" align="center">DayOne注册</h3>
                @Html.ValidationSummary()

                @Html.TextBoxFor(x => x.UserName, new { name = "username", placeholder = "用户名" })
                @Html.TextBoxFor(x => x.PassWord, new { name = "pwd", placeholder = "密码" })
                @Html.TextBoxFor(x => x.PassWord2, new { name = "pwd2", placeholder = "再次输入密码" })
                <button class="ok" type="submit" onclick="register">注 册</button>
                <p id="notice"></p>
            }
            <div class="text-center">
                已有账号,&nbsp;<a href="/home/login">立即登录</a>
            </div>
        </div>
    </div>
</div>

<footer class="text-center">
    遇见更好的自己---DayOne
</footer>
