<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>DayOne</title>
		
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/DayOne.css" />
	
		
  </head>
  <body class='index'>
    <div class='navbar ' role='navigation'>
		<div class="head">
			<div class='container'>
    Day One
			<div class='navbar-header'>
        <div class='pull-right'>
          <ul class='nav navbar-nav'>
            <li class="active">
                        <a href="index.html">
              首页
              </a>
            <li>
                        <a href="dayplan.html"><i class='fa fa-cloud-download'></i>
              日计划
              </a>
    
            </li>
            <li>
                        <a href="notebook.html">
              笔记本
              </a>
    
            </li>
            <li>
                        <a href="bug-reports">
              分享
              </a>
    
            </li>
            <li>
                        <a href="login.html">
              登录
              </a>
    
            </li>
          </ul>
        </div>
      </div>
		</div>
		</div>
	</div>
	<div class='jumbotron'>
      <div class='container'>
        <h2>
          DayOne
        </h2>
        <p>   记录点滴 进步点滴 分享点滴</p>
        <img id="1" alt="" width="555" height="350" src="../img/123.jpg" />
        <img id="2" alt="" width="555" height="350" src="../img/222.jpg" />
      </div>
    </div>
    <div class='main-content'>
      <div class='container'>
        <h2>什么是DayOne？</h2>
        <p>
          DayOne的设计初衷是为了帮助每一位拖延症患者，让自己每天都进步一点点。每天早上都知道自己要做什么，当一天结束的时候会一日三省吾身。现代都市大部分人都十分忙碌，但是忙碌不等于高效的生活、工作方式。
        </p>
        <div class='row'>
          <div class='col-md-6'>
            <h4>
           
              日计划
            </h4>
            <p>
              给每天定一个小小的目标，哪怕是多走路1公里也是对自己进步的一种表现。我们每天早上醒来，匆匆忙忙吃完早餐，挤上地铁，有曾想过今天的我比昨天的我更清楚自己想要什么吗？大多数的我们都只是为了生活而生活，不是因为我们不想改变，只是生活的重力压迫着我们暂且想安于现状，暂且想偷一会懒，没有关系，从今天起，我们一起进步一点点。
            </p>
          </div>
          <div class='col-md-6'>
            <h4>
              
              笔记本
            </h4>
            <p>
              好记性不如烂笔头。在奋斗路上的我们都需要不断的努力学习，查阅相关的书籍、浏览相关的网站，都需要我们一一记下我们学习的脚步。当我们回顾学习历程的时候，原来一切的一切都是我们进步的见证。分享你的笔记给同在道路上的他们，你也会获得快乐。
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <h4>
              
              他分享
            </h4>
            <p>
              在学习的道路上，我们都曾走过不少的弯路，为了让同在道路上的他们少走点弯路，分享我们的经验，分享我们一天的计划，分享我们的执行力，会让我们不仅学习到更多的知识，也会走得更远。
            </p>
          </div>
          <div class='col-md-6'>
            <h4>
              
              拖延症
            </h4>
            <p>
              是不是内心有压力，但是却没有任何的行动？是不是DDL就在眼前，却没有任何的思绪？是不是越来越焦虑，你的负罪感、你的愧疚之心是不是愈演愈烈？
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <h4>
              
              爱生活
            </h4>
            <p>
              爱生活，更爱自己，我们每一天都需要好好的面对自己的生活，不被繁琐的事物打断自己的节拍，所以我们需要自己判断事情的重要性、优先性。
            </p>
          </div>
          <div class='col-md-6'>
            <h4>
              
              相信我
            </h4>
            <p>
              相信自己，相信DayOne！
             
            </p>
          </div>
  
        </div>
      </div>
    </div>
    <div class='next-steps'>
      <div class='container'>
        <h2>你怎样过一天 就怎样过一生 </h2>
        <hr>
        <div class='row'>
          <div class='col-xs-6'>
                    <a class="composite" href=" dayplan.html"><i class='fa fa-cloud-download big-circle'></i>
            <h3>改变自己从我做起</h3>
            </a>
    
          </div>
          <div class='col-xs-6'>
                    <a class="composite" href="https://github.com/mpv-player/mpv"><i class='fa fa-github big-circle'></i>
            <h3>加入告别拖延症计划</h3>
            </a>
    
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class='container'>
        <small class='pull-left text-muted copyright'>
          &copy; 2017-6-30 盛杰瑜 毕业设计
        </small>
        <div class='social-icons pull-right'>
                    <a target="_blank" href="https://github.com/mpv-player/mpv"><i class='fa fa-github-alt'></i>
          </a>

                    <a target="_blank" href="https://twitter.com/mpv_player"><i class='fa fa-twitter'></i>
          </a>

        </div>
      </div>
    </footer>
    
    <div class="down">	
<h6 align="center" >遇见更好的自己 ----DayOne</h6>
    </div>

  </body>
</html>
	
	
	
