<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>DayOne</title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/login.css"  />
		
	</head>
	<body>
		
  <div id="upbanner">
  	<!-- <h2 class="stand letter-space" align="center">Day One</h2> -->
    
    <div class='container'>
     
      <div class='navbar-header'>
        <div class='pull-right'>
          <ul class='nav navbar-nav'>
            <li>
                        <a href="index.html">
              首页
              </a>
            <li>
                        <a href="dayplan.html"><i class='fa fa-cloud-download'></i>
              日计划
              </a>
    
            </li>
            <li>
                        <a href="notebook.html">
              笔记本
              </a>
    
            </li>
            <li>
                        <a href="bug-reports">
              分享
              </a>
    
            </li>
            <li class="active">
                        <a href="login.html">
              登录
              </a>
    
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
    <!-- <div id="middle" class="clearfix">
    	<div id="left">
    	<img class="radius" src="../img/123.jpg" width="700px" height="500px"/>	
    	</div>
    	
    	
    	  <div id="right">
    	  <h3 class="stand letter-space" align="center">登录</h3>
    	   <input type="text" name="username"  placeholder="用户名"/>
    	   <br />
    	   <br/>
       <input type="password" name="pwd"   placeholder="密码"/>
       <br/>
       <br />
       <br />
       <button class="ok">确 认</button>
       
       <span>
       	<h6 class="stand">忘记密码</h6>
       	<h6 class="stand">注册登录</h6>
       </span>
       
    	  </div>
    </div> -->
    
    <div class="container">
      <div id="middle" class="row">
      <div class="col-sm-6 text-right">
      <img class="radius" src="../img/123.jpg" width="500"/> 
      </div>
      
      
        <div class="col-sm-6 text-center">
        <h3 class="letter-space" align="center">Day One 登 录</h3>
         <input type="text" name="username"  placeholder="用户名"/>
       <input type="password" name="pwd"   placeholder="密码"/>
       <div>
       <button class="ok">确 认</button>
       </div>
       
       <div class="clearfix">
        <a href="forget.html" class="pull-left">忘记密码</a>
        <a href="register.html" class="pull-right">立即注册</a>
       
        </div>
    </div>
    </div>
    
    <footer class="text-center">
      遇见更好的自己---DayOne
    </footer>
    
      <!-- <div id="down">
     <h4 class="stand" align="center">遇见更好的自己---DayOne</h4>	
        遇见更好的自己---DayOne
      </div> -->
      
      
      
	</body>
</html>
