@{
    ViewBag.Title = "爱心笔记";
    Layout = "~/Views/Shared/NoteBook2.cshtml";
}

@section headers{
    <script src="/Scripts/lovenotes.js"></script>
}

<!--内容-->
<div class="loveNotePanel row" ng-controller="LoveNoteCtrl" ng-include src="'/note/list.html'">
</div>
