@{
    Layout = null;
}


<!--按钮栏-->
<div id="d1" class="row">
	<div class="col-md-6 col-md-offset-6" style="margin-top: 10px; margin-bottom:10px;">
        <!--上传附件，我用的自带的控件，你自己改 -->       
        <a href="#" class="a-txt" ng-click="prepare_create_note()">添加笔记</a>
        <a href="#" class="a-txt" data-toggle="modal" data-target="#myModal2" onclick="myfunction8()">删除笔记</a>
        <a href="#" class="a-txt" data-toggle="modal" data-target="#myModal3" onclick="myfunction2()">爱心笔记</a>
        <a href="#" class="a-txt" data-toggle="modal" data-target="#myModal1" onclick="myfunction8()">保存笔记</a>
    </div>
</div>

<!-- 内容栏 -->
<p>{{current.Title}}</p>
<p>{{current.Content}}</p>
