@model DayOne.IoObjects.NoteBookView
            
@{ViewBag.Title = "笔记ing...";}

@section headers{
    <link rel="stylesheet" href="~/Content/notebook.css" />
    <link rel="stylesheet" href="~/Content/noteEdit.css" />
    <script src="~/Scripts/note.js"></script>
    <script type="text/javascript">
        var _gNoteBook = @Html.Raw(Json.Encode(Model));
    </script>
    <script src="/Scripts/basic.js"></script>
}

<div ng-controller="NoteListControl" ng-cloak>
    <!-- 保存笔记模态框 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H">Day One</h4>
                </div>
                <div class="modal-body">确定要保存笔记吗？</div>
                <div class="modal-footer">
                    <button type="button" id="btn1" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn2" class="btn btn-success" data-dismiss="modal" onclick="myfunction4()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--删除笔记模态框-->
    <div class="modal fade" id="note_deleting_dialog" tabindex="-1" role="dialog" aria-labelledby="note_deleting_dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">确定要删除笔记吗？</h4>
                </div>
                <div class="modal-body"> <b> {{current.Title}} </b></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="delete_note();">确定</button>
                    <!-- <button type="button" id="Button3" class="btn btn-warning" onclick="gotobin()">查看回收站</button> -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--爱心笔记模态框-->
    <div class="modal fade" id="mark_love_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H2">Day One</h4>
                </div>
                <div class="modal-body">
                    <span ng-if="!current.LoveOrNot">确定将该笔记归为爱心笔记吗？ </span>
                    <span ng-if="current.LoveOrNot">确定要取消爱心笔记吗？ </span>
                    </div>
                <div class="modal-footer">
                    <button type="button" id="Button5" class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button type="button" id="Button4" class="btn btn-success" data-dismiss="modal" ng-click="mark_love_it_and_post()" >确定</button>
                    <button type="button" id="Button6" class="btn btn-warning" data-dismiss="modal" onclick="heart()">查看爱心笔记</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 分享笔记模态框 -->
    <div class="modal fade" id="mark_share_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H">Day One</h4>
                </div>
                <div class="modal-body">
                    <span ng-if="!current.ShareOrNot">要分享该笔记吗？</span>
                    <span ng-if="current.ShareOrNot">要取消分享笔记吗？</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" 
                        ng-click="mark_share_it_and_post()">{{current.ShareOrNot?'取消分享':'分享'}}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--内容-->
    <div class="notepanel">
        <!-- 左侧摘要 -->
        <div class="col-md-2 notelist">
            <div class="bookname">&nbsp;&nbsp;<a class="a-txt" style="margin-right:3px;" href="/NoteBook/NoteBook">笔记本</a><span class="a-txt"> >> {{book.BookName}}</span></div>
            <div class="summary" ng-click="select(note)" ng-repeat="note in notes">
                    <div class="title" id="b1">
                        {{note.Title}}
                        <span ng-if="note.LoveOrNot" class="glyphicon glyphicon-heart-empty lovenote pull-right"></span>
                        <span ng-if="note.ShareOrNot" class="glyphicon glyphicon-share-alt lovenote pull-right"></span>
                    </div>
                    <div class="text" @*class="b2txt"*@  id="b2">&nbsp;&nbsp;&nbsp;&nbsp; {{note.Content}}</div>
                    <div class="updateAt text-right">{{note.UpdateAt|longdate}}</div>
                    <!--<div class="context" ng-click="select(note)"> </div>  -->
            </div>
            <div style="font-size: 18px; position: fixed; bottom:30px; display:block; width:285px; text-align: center;">
                <span class="glyphicon glyphicon-backward pull-left" ng-click="goto_previous()" ng-if="has_previous()"></span>
                <span class="glyphicon glyphicon-forward pull-right" ng-click="goto_next()" ng-if="has_next()"></span>
                <span class="glyphicon glyphicon-refresh" ng-click="refresh_note_list()"></span>
            </div>
        </div>
        <!-- 左侧栏 -->

        <!--右侧内容区域-->
        <div class="col-md-10 noteview" ng-include="contentUrl"></div>

    </div>
</div>

