@{ViewBag.Title = "笔记本";}

@section headers{
    <link rel="stylesheet" href="~/Content/notebook.css" />
    <script src="~/Scripts/notebook.js"></script>
    <script src="~/Scripts/notebook2.js"></script>
}

<div ng-controller="noteCtrl">
    <div id="up">
        <!--添加笔记本的模态框-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="笔记搜索">
                        </div>
                        <button type="submit" class="btn btn-default">GO!</button>
                    </form>

                    <ul class="nav nav-pills">
                        <li role="presentation" class="active" data-toggle="modal" data-target="#myModal1"><a href="#">添加笔记本</a></li>
                        <li role="presentation">@Html.ActionLink("爱心笔记", "LoveNote", "NoteBook")</li>
                        <li role="presentation">@Html.ActionLink("附件笔记", "AttachNote", "NoteBook")</li>
                        <li role="presentation">@Html.ActionLink("笔记回收站", "RecycleNote", "NoteBook")</li>
                    </ul>

                </div>

                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="H" align="center">Day One</h4>
                            </div>
                            <div class="modal-body">
                                <input id="input-bookName" type="text" ng-model="noteName" placeholder="请输入笔记本名称" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn1" class="btn btn-danger" data-dismiss="modal">关闭</button>
                                <button type="button" id="btn2" class="btn btn-success" data-dismiss="modal" ng-click="add()">创建</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </nav>
    </div>
    <div id="notebook">
        <div @*ng-show="nav==1"*@ id="notebookn">
            <div class="note" ng-repeat="note in [1,2]">
                <div class="note-left"></div>
                <div class="note-body" ng-mouseover="show=true" ng-mouseout="show=false">
                    <h4>{{note.BookName}}</h4>
                    <a href="javascript:void(0);" class="note-remove" ng-class="{'note-operator-show':show}" title="删除">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a href="javascript:void(0);" class="note-edit" ng-class="{'note-operator-show':show}" title="修改">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
                <span class="glyphicon glyphicon-pencil" style="cursor: pointer"></span>&nbsp;
                <span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="removeBook(note)"></span>
            </div>
        </div>
    </div>
</div>
