@{
    ViewBag.Title = "笔记本";
 }
<link rel="stylesheet" href="~/Content/noteEdit.css" />
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/notebook.js"></script>
<div>
    <!--保存笔记模态框-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H">Day One</h4>
                </div>
                <div class="modal-body">确定要保存笔记吗？</div>
                <div class="modal-footer">
                    <button type="button" id="btn1" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn2" class="btn btn-success" data-dismiss="modal" onclick="myfunction4()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--删除笔记模态框-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H1">Day One</h4>
                </div>
                <div class="modal-body">确定要删除笔记吗？</div>
                <div class="modal-footer">
                    <button type="button" id="Button1" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" id="Button2" class="btn btn-success" onclick="myfunction5();return false;" data-dismiss="modal">确定</button>
                    <button type="button" id="Button3" class="btn btn-warning" onclick="gotobin()">查看回收站</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--爱心笔记模态框-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H2">Day One</h4>
                </div>
                <div class="modal-body">This note is categoryed to the Love Notes！</div>
                <div class="modal-footer">
                    <button type="button" id="Button5" class="btn btn-danger" data-dismiss=" modal">取消</button>
                    <button type="button" id="Button4" class="btn btn-success" data-dismiss="modal">确定</button>
                    <button type="button" id="Button6" class="btn btn-warning" data-dismiss="modal" onclick="heart()">查看爱心笔记</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <!--内容-->
    <div class="Div1" id="Div1">
        <!--左侧栏-->
        <!--右侧内容区域-->
        <div class="col-md-10" >
            <!--按钮栏-->
            <div id="d1">
                <div style="text-align:left;font-size:15px;margin-top:16px;font-weight:bold">
                    <div class="col-md-6">
                        <asp:Label ID="lab1" runat="server" style="color:#722b72;font-family:'Microsoft YaHei'" Text="创建时间"></asp:Label>
                        <asp:Label ID="lab2" runat="server" style="color:#722b72;font-family:'Microsoft YaHei';margin-left:15%" Text="修改时间"></asp:Label>
                    </div>
                    <div >
                        <!--上传附件，我用的自带的控件，你自己改-->                    
                        <a href="#" class="a-txt" data-toggle="modal" data-target="#myModal2" onclick="myfunction3()">添加笔记</a>
                        <a href="#" class="a-txt" data-toggle="modal" data-target="#myModal2" onclick="myfunction8()">删除笔记</a>
                        <a href="#" class="a-txt" data-toggle="modal" data-target="#myModal3" onclick="myfunction2()">爱心笔记</a>

                    </div>
                </div>
            </div>
            <form class="form-horizontal" name="noteForm" novalidate style="margin-top:80px;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="标题在此输入" />
                    </div>
                    
                </div>

                <div class="form-group" style="margin-top:30px;">
                    <label class="col-sm-2 control-label">正文：</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="20" placeholder="在此输入正文..."></textarea>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
