@{
    Layout = null;
    ViewBag.Title = "笔记本";
 }

<div>
    @* <!--保存笔记模态框-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H">Day One</h4>
                </div>
                <div class="modal-body">确定要保存笔记吗？</div>
                <div class="modal-footer">
                    <button type="button" id="btn1" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn2" class="btn btn-success" data-dismiss="modal" onclick="myfunction4()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <!--爱心笔记模态框-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H2">Day One</h4>
                </div>
                <div class="modal-body">This note is categoryed to the Love Notes！</div>
                <div class="modal-footer">
                    <button type="button" id="Button5" class="btn btn-danger" data-dismiss=" modal">取消</button>
                    <button type="button" id="Button4" class="btn btn-success" data-dismiss="modal">确定</button>
                    <button type="button" id="Button6" class="btn btn-warning" data-dismiss="modal" onclick="heart()">查看爱心笔记</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    *@

    <!--按钮栏-->
    <div class="toolbar row">
        <div class="col-md-5 small"style="font-weight:normal;">更新于： {{current.UpdateAt|longdate}}</div>
        <div class="col-md-5" @* style="margin-top: 10px; margin-bottom:10px;" *@>

            <a href="#" class="a-txt" ng-click="return_to_view()" ><span class="glyphicon glyphicon-off"></span>&nbsp;返回</a>
            <a href="#" class="a-txt" data-toggle="modal" data-target="#note_deleting_dialog">删除笔记</a>
            <a href="#" class="a-txt" @* data-toggle="modal" data-target="#myModal1" *@ ng-click="post_edit_note(current)">保存笔记</a>
            <a href="#" class="a-txt" data-toggle="modal" data-target="#mark_love_dialog" >
                <span ng-if="current.LoveOrNot" class="glyphicon glyphicon-heart"></span>
                <span ng-if="!current.LoveOrNot" class="glyphicon glyphicon glyphicon-heart-empty"></span> &nbsp;爱心笔记
            </a>
        </div>
    </div>


    <form class="form-horizontal" name="noteForm" novalidate style="margin-top:80px;">
        <div class="form-group">
            <label class="col-sm-2 control-label">标题：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="标题在此输入" ng-model="current.Title" />
            </div>
        </div>

        <div class="form-group" style="margin-top:30px;">
            <label class="col-sm-2 control-label">正文：</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="20" placeholder="在此输入正文..." ng-model="current.Content" ></textarea>
            </div>
        </div>
    </form>

</div>
