@{
    ViewBag.Title = "爱心笔记";
    Layout = "~/Views/Shared/NoteBook2.cshtml";
}

@section headers{
    <script src="/Scripts/lovenotes.js"></script>
}

<!--内容-->
<div class="loveNotePanel row" ng-controller="LoveNoteCtrl">
    <!-- <div class="col-sm-1"><span class="glyphicon glyphicon-backward" style="color:white;"></span></div> -->
    <div class="col-sm-10 col-sm-offset-1 panel panel-note" ng-repeat="note in notes" >
        <div class="onenote">
            <p class="title" >
                <span class="glyphicon glyphicon-heart-empty" ></span>
                <span style="vertical-align:super;">{{note.Title}}</span>
            </p>
            <p class="remark">
                <span>更新时间: {{note.UpdateAt|longdate}}</span>&nbsp;&nbsp;
                <span>笔记本名称: {{note.BookName}}</span>
            </p>
            <p class="content">{{note.Content}}</p>
        </div>
    </div>
        
    <span class="glyphicon glyphicon-menu-left page-nav-prev" ng-show="paging.hasPrev()" ng-click="prev()"></span>
    <span class="glyphicon glyphicon-menu-right page-nav-next" ng-show="paging.hasNext()" ng-click="next()"></span>
</div>
